In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import json

#the file paths
assets_data_path = '/content/drive/MyDrive/assets.json'
trips_data_path = '/content/drive/MyDrive/trips.json'

with open(assets_data_path,'r') as f:
  assets_data = json.load(f)
assets_df = pd.json_normalize(assets_data)
assets_df

,id,make,model,year
0,QRmYjfT,TOYOTA Ractis 1.0,Ractis 1.0,2006
1,DpXMzg3,Lexus CT 200h,CT 200h,None
2,4tQe9sV,Honda Odyssey,Odyssey,None
3,x2LJWsl,MITSUBISHI Lancer Cedia LA-CS2A,Lancer Cedia LA-CS2A,2005
4,eH0O4bf,Nissan,Note,2011
5,O9lGdg3,MAZDA Demio,Demio,2013
6,Y9e0FaW,TOYOTA HIACE,None,None
7,ZYHwMUz,SUZUKI EVERY,None,None
8,ROamcHy,TOYOTA,Carina,2022
9,6pxF48b,Mitsubishi,Fuso canter,2008
10,3XBsRFw,BAJAJ,PR3 125 Enduro,2017
11,0gMAW5w,TOYOTA,Hiace,2003
12,f8nWgSg,PIAGGIO,None,None
13,3mc7Rgu,TOYOTA,None,None
14,NRLuFEH,NISSAN MARCH/micra/MT,MARCH/micra/MT,2010
15,xTi3deH,TOYOTA HILUX TGN26R - Manual,HILUX TGN26R - Manual,2016
16,DfAX0iw,TOYOTA COROLLA,None,None
17,ykONP4o,tuk tuk,Alhambra,2010
18,40ruNQU,BMW F650 GS 218,F650 GS 218,2021
19,XffJI53,HAOJIN,Future,2021
20,86sWwU3,CAR,None,None
21,CwMnt8w,Tuk Tuk,Alhambra,2014
22,aKj8hz2,PEUGEOT 207,207,2009
23,xxJ01Tb,CAR,None,None
24,7EmSkds,TOYOTA PROBOX,Prius,2009
25,qBmr6ZX,TUK TUK,Cooper,2010
26,0ROajub,HONDA,None,None
27,r4rOacq,NISSAN X-TRAIL Mpfi CVT(NEW) NT32,X-TRAIL Mpfi CVT(NEW) NT32,2014
28,48weVrM,LEXUS NX 300H CVT,NX 300H CVT,2016
29,LxNbJoh,NOAH,None,None
30,AWQ2cJJ,MARUTI,None,None
31,eHIXGyu,Car,None,None
32,pLia4Tx,PIAGGIO,None,None
33,NwRjKXf,PIAGGIO,None,None

Add a size column detailing the size of the different vehicles. 

SUVs, puickups, vans and minivans are considered as `medium` sized vehicles
Lorries are considered `large` vehicles
All other vehicles that do not fall in the above caategories are considered `small` vehicles.

In [3]:
size = ['small', 'small', 'medium', 'small', 'small', 'small', 'medium', 'medium', 'small', 'large', 'small', 'medium', 'small', 'N/A', 'small', 'medium', 'small', 'small', 'small', 'small', 'N/A', 'small', 'small', 'N/A', 'small', 'small', 'N/A', 'medium', 'medium', 'medium', 'medium', 'N/A', 'small', 'small']

body = ['hatchback', 'hatchback', 'minivan', 'sedan', 'hatchback', 'hatchback', 'minivan', 'minivan', 'sedan', 'lorry', 'motorcycle', 'van', 'rickshaw', 'N/A', 'hatchback', 'pickup', 'sedan', 'rickshaw', 'motorcycle',  'motorcycle', 'N/A', 'rickshaw', 'hatchback', 'N/A', 'van', 'rickshaw', 'N/A', 'suv', 'suv', 'minivan', 'minivan', 'N/A', 'rickshaw', 'rickshaw']

assets_df['vehicle_size'] = size
assets_df['vehicle_body_category'] = body

assets_df

,id,make,model,year,vehicle_size,vehicle_body_category
0,QRmYjfT,TOYOTA Ractis 1.0,Ractis 1.0,2006,small,hatchback
1,DpXMzg3,Lexus CT 200h,CT 200h,None,small,hatchback
2,4tQe9sV,Honda Odyssey,Odyssey,None,medium,minivan
3,x2LJWsl,MITSUBISHI Lancer Cedia LA-CS2A,Lancer Cedia LA-CS2A,2005,small,sedan
4,eH0O4bf,Nissan,Note,2011,small,hatchback
5,O9lGdg3,MAZDA Demio,Demio,2013,small,hatchback
6,Y9e0FaW,TOYOTA HIACE,None,None,medium,minivan
7,ZYHwMUz,SUZUKI EVERY,None,None,medium,minivan
8,ROamcHy,TOYOTA,Carina,2022,small,sedan
9,6pxF48b,Mitsubishi,Fuso canter,2008,large,lorry
10,3XBsRFw,BAJAJ,PR3 125 Enduro,2017,small,motorcycle
11,0gMAW5w,TOYOTA,Hiace,2003,medium,van
12,f8nWgSg,PIAGGIO,None,None,small,rickshaw
13,3mc7Rgu,TOYOTA,None,None,N/A,N/A
14,NRLuFEH,NISSAN MARCH/micra/MT,MARCH/micra/MT,2010,small,hatchback
15,xTi3deH,TOYOTA HILUX TGN26R - Manual,HILUX TGN26R - Manual,2016,medium,pickup
16,DfAX0iw,TOYOTA COROLLA,None,None,small,sedan
17,ykONP4o,tuk tuk,Alhambra,2010,small,rickshaw
18,40ruNQU,BMW F650 GS 218,F650 GS 218,2021,small,motorcycle
19,XffJI53,HAOJIN,Future,2021,small,motorcycle
20,86sWwU3,CAR,None,None,N/A,N/A
21,CwMnt8w,Tuk Tuk,Alhambra,2014,small,rickshaw
22,aKj8hz2,PEUGEOT 207,207,2009,small,hatchback
23,xxJ01Tb,CAR,None,None,N/A,N/A
24,7EmSkds,TOYOTA PROBOX,Prius,2009,small,van
25,qBmr6ZX,TUK TUK,Cooper,2010,small,rickshaw
26,0ROajub,HONDA,None,None,N/A,N/A
27,r4rOacq,NISSAN X-TRAIL Mpfi CVT(NEW) NT32,X-TRAIL Mpfi CVT(NEW) NT32,2014,medium,suv
28,48weVrM,LEXUS NX 300H CVT,NX 300H CVT,2016,medium,suv
29,LxNbJoh,NOAH,None,None,medium,minivan
30,AWQ2cJJ,MARUTI,None,None,medium,minivan
31,eHIXGyu,Car,None,None,N/A,N/A
32,pLia4Tx,PIAGGIO,None,None,small,rickshaw
33,NwRjKXf,PIAGGIO,None,None,small,rickshaw

In [4]:
assets_df[assets_df.model.isna()]

         id            make model  year vehicle_size vehicle_body_category
6   Y9e0FaW    TOYOTA HIACE  None  None       medium               minivan
7   ZYHwMUz    SUZUKI EVERY  None  None       medium               minivan
12  f8nWgSg         PIAGGIO  None  None        small              rickshaw
13  3mc7Rgu          TOYOTA  None  None          N/A                   N/A
16  DfAX0iw  TOYOTA COROLLA  None  None        small                 sedan
20  86sWwU3             CAR  None  None          N/A                   N/A
23  xxJ01Tb             CAR  None  None          N/A                   N/A
26  0ROajub           HONDA  None  None          N/A                   N/A
29  LxNbJoh            NOAH  None  None       medium               minivan
30  AWQ2cJJ          MARUTI  None  None       medium               minivan
31  eHIXGyu             Car  None  None          N/A                   N/A
32  pLia4Tx         PIAGGIO  None  None        small              rickshaw
33  NwRjKXf         PIAGGIO  None  None        small              rickshaw

In [5]:
assets_df.loc[assets_df.make == 'NOAH', 'make':'model'] = 'Toyota', 'Noah'
assets_df.loc[assets_df.make == 'MARUTI', 'make':'model'] = 'Suzuki', 'MARUTI'
assets_df.loc[assets_df.make.str.lower() == 'car', 'model'] = 'Car'
assets_df.loc[assets_df.make.str.lower() == 'piaggio', 'model'] = "Piaggio"
assets_df.loc[assets_df.model.isna(), 'model']= assets_df[assets_df.model.isna()]['make'].str.split(expand=True)[1]

In [6]:
assets_df[assets_df.model.isna()]

         id    make model  year vehicle_size vehicle_body_category
13  3mc7Rgu  TOYOTA  None  None          N/A                   N/A
26  0ROajub   HONDA  None  None          N/A                   N/A

In [7]:
mode_honda = assets_df[assets_df['make'].str.split(expand=True)[0].str.lower() == 'honda']['model'].str.lower().mode()[0]
mode_toyota = assets_df[assets_df['make'].str.split(expand=True)[0].str.lower() == 'toyota']['model'].str.lower().mode()[0]
assets_df.loc[(assets_df.model.isna()) & (assets_df.make =='TOYOTA'), 'model'] = mode_toyota.capitalize()
assets_df.loc[(assets_df.model.isna()) & (assets_df.make =='HONDA'), 'model'] = mode_honda.capitalize()

In [8]:
assets_df[assets_df.model.isna()]

Empty DataFrame
Columns: [id, make, model, year, vehicle_size, vehicle_body_category]
Index: []

In [9]:
with open(trips_data_path, 'r') as f:
  trip_data = json.load(f)
trips_df = pd.json_normalize(trip_data)
trips_df

,id,created,asset_id,distance,points,origin.latitude,origin.longitude,origin.time_stamp,origin.address,origin.odometer,destination.latitude,destination.longitude,destination.time_stamp,destination.address,destination.odometer
0,35Ldjpf,2022-03-14T17:31:51.003+00:00,0ROajub,4321.65,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.043220,37.067928,2022-03-14T17:31:47+00:00,"Thika Garissa Highway, Total, Thika, Kenya",None,-1.041213,37.092602,2022-03-14T17:54:07+00:00,"Kenyatta Highway, Thika, Kiambu County, Kenya",None
1,agWTdy5,2023-03-07T08:53:55.607+00:00,0gMAW5w,24703.24,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.305577,36.824627,2023-03-07T08:53:51+00:00,"Nyayo Stadium, Nairobi, Kenya",None,-1.430601,36.687973,2023-03-07T10:13:47+00:00,"Magadi Road, Kiserian, Kajiado County, Kenya",None
2,mcXsPmo,2023-03-07T06:40:53.771+00:00,0gMAW5w,30689.27,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.430067,36.688068,2023-03-07T06:40:48+00:00,"Magadi Road, Kiserian, Kajiado County, Kenya",None,-1.305638,36.824879,2023-03-07T08:25:04+00:00,"Nyayo Stadium, Nairobi, Kenya",None
3,WRBY3Lt,2023-03-07T05:12:29.007+00:00,0gMAW5w,24609.34,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.305490,36.825317,2023-03-07T05:12:26+00:00,"Nyayo Stadium, Nairobi, Kenya",None,-1.429965,36.688194,2023-03-07T06:29:53+00:00,"Magadi Road, Kiserian, Kajiado County, Kenya",None
4,1WaNBeb,2023-03-07T03:15:18.67+00:00,0gMAW5w,28395.71,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.397144,36.759830,2023-03-07T03:15:15+00:00,"Soronik Road, Nairobi, Kenya",None,-1.305595,36.825199,2023-03-07T04:59:31+00:00,"Gandhi Avenue, Nairobi West, Nairobi, Nairobi ...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4799,GeaklYd,2023-02-21T11:41:10.948+00:00,3XBsRFw,13803.78,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.040364,37.069199,2023-02-21T11:41:06+00:00,"385 Mombasa Road, Thika, Kiambu County, Kenya",None,-1.040391,37.069256,2023-02-21T12:40:11+00:00,"OAU Road, Thika, Kiambu County, Kenya",None
4800,NSzqS6B,2023-02-21T10:17:02.952+00:00,3XBsRFw,4968.03,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.040324,37.069244,2023-02-21T10:16:54+00:00,"385 OAU Road, Thika, Kiambu County, Kenya",None,-1.040152,37.068432,2023-02-21T10:37:45+00:00,"Enterprise Road, Thika, Kenya",None
4801,jMW6L4T,2023-02-21T09:15:30.916+00:00,3XBsRFw,10180.62,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.047289,37.073498,2023-02-21T09:15:27+00:00,"Garissa Road, Thika, Kiambu County, Kenya",None,-1.040326,37.069077,2023-02-21T10:05:40+00:00,"OAU Road, Thika, Kiambu County, Kenya",None
4802,pNnBGll,2023-02-21T08:41:38.993+00:00,3XBsRFw,3134.15,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.042714,37.068249,2023-02-21T08:41:32+00:00,"30, Thika, Kenya",None,-1.047387,37.073387,2023-02-21T08:51:28+00:00,"Garissa Road, Thika, Kiambu County, Kenya",None
4803,0m7p0zj,2023-02-21T08:18:09.792+00:00,3XBsRFw,644.23,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.040923,37.071613,2023-02-21T08:18:04+00:00,"Kenyatta Highway, Thika, Kiambu County, Kenya",None,-1.042606,37.068230,2023-02-21T08:24:02+00:00,"30, Thika, Kenya",None

In [10]:
#using the id in asset dataset and id in trips dataset merge the two data
#frames in order to operate on just one dataset
#use pandas lib with the asset_id as the primary key or the join

joined_df = trips_df.join(assets_df.set_index('id'),on = 'asset_id')
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4804 entries, 0 to 4803
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      4804 non-null   object
 1   created                 4804 non-null   object
 2   asset_id                4804 non-null   object
 3   distance                4804 non-null   float64
 4   points                  4804 non-null   object
 5   origin.latitude         4804 non-null   float64
 6   origin.longitude        4804 non-null   float64
 7   origin.time_stamp       4804 non-null   object
 8   origin.address          4803 non-null   object
 9   origin.odometer         0 non-null      object
 10  destination.latitude    4804 non-null   float64
 11  destination.longitude   4804 non-null   float64
 12  destination.time_stamp  4804 non-null   object
 13  destination.address     4803 non-null   object
 14  destination.odometer    0 non-null      object
 15  make                    4804 non-null   object
 16  model                   4804 non-null   object
 17  year                    2850 non-null   object
 18  vehicle_size            4804 non-null   object
 19  vehicle_body_category   4804 non-null   object
dtypes: float64(5), object(15)
memory usage: 750.8+ KB

In [11]:
joined_df.head()

,id,created,asset_id,distance,points,origin.latitude,origin.longitude,origin.time_stamp,origin.address,origin.odometer,destination.latitude,destination.longitude,destination.time_stamp,destination.address,destination.odometer,make,model,year,vehicle_size,vehicle_body_category
0,35Ldjpf,2022-03-14T17:31:51.003+00:00,0ROajub,4321.65,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.043220,37.067928,2022-03-14T17:31:47+00:00,"Thika Garissa Highway, Total, Thika, Kenya",None,-1.041213,37.092602,2022-03-14T17:54:07+00:00,"Kenyatta Highway, Thika, Kiambu County, Kenya",None,HONDA,Odyssey,None,N/A,N/A
1,agWTdy5,2023-03-07T08:53:55.607+00:00,0gMAW5w,24703.24,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.305577,36.824627,2023-03-07T08:53:51+00:00,"Nyayo Stadium, Nairobi, Kenya",None,-1.430601,36.687973,2023-03-07T10:13:47+00:00,"Magadi Road, Kiserian, Kajiado County, Kenya",None,TOYOTA,Hiace,2003,medium,van
2,mcXsPmo,2023-03-07T06:40:53.771+00:00,0gMAW5w,30689.27,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.430067,36.688068,2023-03-07T06:40:48+00:00,"Magadi Road, Kiserian, Kajiado County, Kenya",None,-1.305638,36.824879,2023-03-07T08:25:04+00:00,"Nyayo Stadium, Nairobi, Kenya",None,TOYOTA,Hiace,2003,medium,van
3,WRBY3Lt,2023-03-07T05:12:29.007+00:00,0gMAW5w,24609.34,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.305490,36.825317,2023-03-07T05:12:26+00:00,"Nyayo Stadium, Nairobi, Kenya",None,-1.429965,36.688194,2023-03-07T06:29:53+00:00,"Magadi Road, Kiserian, Kajiado County, Kenya",None,TOYOTA,Hiace,2003,medium,van
4,1WaNBeb,2023-03-07T03:15:18.67+00:00,0gMAW5w,28395.71,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.397144,36.759830,2023-03-07T03:15:15+00:00,"Soronik Road, Nairobi, Kenya",None,-1.305595,36.825199,2023-03-07T04:59:31+00:00,"Gandhi Avenue, Nairobi West, Nairobi, Nairobi ...",None,TOYOTA,Hiace,2003,medium,van

In [12]:
#we now remove the odometer column since it only has the none value
#I made changes to the original dataframe directly
df1 = joined_df.drop('origin.odometer', axis=1)
df = df1.drop('destination.odometer',axis =1)
df.head()

,id,created,asset_id,distance,points,origin.latitude,origin.longitude,origin.time_stamp,origin.address,destination.latitude,destination.longitude,destination.time_stamp,destination.address,make,model,year,vehicle_size,vehicle_body_category
0,35Ldjpf,2022-03-14T17:31:51.003+00:00,0ROajub,4321.65,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.043220,37.067928,2022-03-14T17:31:47+00:00,"Thika Garissa Highway, Total, Thika, Kenya",-1.041213,37.092602,2022-03-14T17:54:07+00:00,"Kenyatta Highway, Thika, Kiambu County, Kenya",HONDA,Odyssey,None,N/A,N/A
1,agWTdy5,2023-03-07T08:53:55.607+00:00,0gMAW5w,24703.24,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.305577,36.824627,2023-03-07T08:53:51+00:00,"Nyayo Stadium, Nairobi, Kenya",-1.430601,36.687973,2023-03-07T10:13:47+00:00,"Magadi Road, Kiserian, Kajiado County, Kenya",TOYOTA,Hiace,2003,medium,van
2,mcXsPmo,2023-03-07T06:40:53.771+00:00,0gMAW5w,30689.27,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.430067,36.688068,2023-03-07T06:40:48+00:00,"Magadi Road, Kiserian, Kajiado County, Kenya",-1.305638,36.824879,2023-03-07T08:25:04+00:00,"Nyayo Stadium, Nairobi, Kenya",TOYOTA,Hiace,2003,medium,van
3,WRBY3Lt,2023-03-07T05:12:29.007+00:00,0gMAW5w,24609.34,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.305490,36.825317,2023-03-07T05:12:26+00:00,"Nyayo Stadium, Nairobi, Kenya",-1.429965,36.688194,2023-03-07T06:29:53+00:00,"Magadi Road, Kiserian, Kajiado County, Kenya",TOYOTA,Hiace,2003,medium,van
4,1WaNBeb,2023-03-07T03:15:18.67+00:00,0gMAW5w,28395.71,"[{'bearing': 0.0, 'location': {'latitude': -1....",-1.397144,36.759830,2023-03-07T03:15:15+00:00,"Soronik Road, Nairobi, Kenya",-1.305595,36.825199,2023-03-07T04:59:31+00:00,"Gandhi Avenue, Nairobi West, Nairobi, Nairobi ...",TOYOTA,Hiace,2003,medium,van

In [13]:
#dealing with the missig values from the dataset
#we see that origin.address and destination.address has just one missing entry
#chances are that this is for the same asset??
df.isna().sum()

id                           0
created                      0
asset_id                     0
distance                     0
points                       0
origin.latitude              0
origin.longitude             0
origin.time_stamp            0
origin.address               1
destination.latitude         0
destination.longitude        0
destination.time_stamp       0
destination.address          1
make                         0
model                        0
year                      1954
vehicle_size                 0
vehicle_body_category        0
dtype: int64

In [14]:
##im curious is that the same trip with the origin and destination with missing values?
mask = df['origin.address'].isnull() & df['destination.address'].isnull() #some boolean function
missing_rows = df[mask]

print(missing_rows)

          id                        created asset_id  distance points  \
922  v0Wgz5c  2022-11-06T01:11:56.532+00:00  QRmYjfT    862.05     []

     origin.latitude  origin.longitude          origin.time_stamp  \
922         -1.18568         36.744983  2022-11-06T01:11:50+00:00

    origin.address  destination.latitude  destination.longitude  \
922           None             -1.185388              36.748775

        destination.time_stamp destination.address               make  \
922  2022-11-06T01:16:28+00:00                None  TOYOTA Ractis 1.0

          model  year vehicle_size vehicle_body_category
922  Ractis 1.0  2006        small             hatchback

In [15]:
drop1_df= df.dropna(subset = ['origin.address','destination.address'], how = 'all')
drop1_df.isna().sum()

id                           0
created                      0
asset_id                     0
distance                     0
points                       0
origin.latitude              0
origin.longitude             0
origin.time_stamp            0
origin.address               0
destination.latitude         0
destination.longitude        0
destination.time_stamp       0
destination.address          0
make                         0
model                        0
year                      1954
vehicle_size                 0
vehicle_body_category        0
dtype: int64

In [16]:
new_df = drop1_df.drop(columns = 'points')

In [17]:
new_df.isna().sum()

id                           0
created                      0
asset_id                     0
distance                     0
origin.latitude              0
origin.longitude             0
origin.time_stamp            0
origin.address               0
destination.latitude         0
destination.longitude        0
destination.time_stamp       0
destination.address          0
make                         0
model                        0
year                      1954
vehicle_size                 0
vehicle_body_category        0
dtype: int64

In [18]:
#using the KNN Imputation method to fill in the years missing values
#my assumption is that there is no linear relationship between the other variables and the year column
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
#resetting the index
new_df.reset_index(drop=True,inplace=True)
#test-train split
train_df, test_df = train_test_split(new_df, test_size = 0.2, random_state=42)

imputer = KNNImputer(n_neighbors = 5, weights ='uniform', metric = 'nan_euclidean')

missing_train = train_df['year']
missing_test = test_df['year']

imputed_train = imputer.fit_transform(missing_train.values.reshape(-1,1))
imputed_test = imputer.transform(missing_test.values.reshape(-1,1))

train_df['year'] = imputed_train
test_df['year']= imputed_test
knn_df = pd.concat([train_df,test_df],axis = 0)
#round the year to whole numbers

knn_df['year'] = knn_df['year'].astype('int')
knn_df

#the indexes are all jumbled up since I used the concat for train and test

,id,created,asset_id,distance,origin.latitude,origin.longitude,origin.time_stamp,origin.address,destination.latitude,destination.longitude,destination.time_stamp,destination.address,make,model,year,vehicle_size,vehicle_body_category
4687,ZhYas2h,2023-03-03T04:10:27.952+00:00,3XBsRFw,1556.91,-1.042338,37.066116,2023-03-03T04:10:25+00:00,"8061 A3, Thika, Kiambu County, Kenya",-1.048332,37.078449,2023-03-03T04:13:53+00:00,"Garissa Road, Thika, Kiambu County, Kenya",BAJAJ,PR3 125 Enduro,2017,small,motorcycle
2951,EqtGouy,2022-05-14T07:22:34.099+00:00,eH0O4bf,1859.41,1.023974,34.998661,2022-05-14T07:22:30+00:00,"Street, Kitale, Trans-Nzoia County, Kenya",1.019898,35.006329,2022-05-14T07:35:54+00:00,"Ravine Road, Kitale, Trans-Nzoia County, Kenya",Nissan,Note,2011,small,hatchback
4071,jtC9UwC,2023-03-05T19:03:43.189+00:00,4tQe9sV,2573.97,-1.326325,36.898495,2023-02-23T14:12:54+00:00,"Transami, Embakasi, Nairobi, Nairobi County, K...",-1.327427,36.881987,2023-02-23T14:44:16+00:00,"Imara Daima, Embakasi, Nairobi, Nairobi County...",Honda Odyssey,Odyssey,2012,medium,minivan
4579,QTBzT43,2023-02-27T06:35:19.913+00:00,O9lGdg3,1109.93,-1.287073,36.803280,2023-02-27T06:35:05+00:00,"Kilimani STATE HOUSE TETU BLDG, Nairobi, Kenya",-1.289505,36.807678,2023-02-27T06:40:04+00:00,"22 Milimani Road, Kilimani, Nairobi, Nairobi C...",MAZDA Demio,Demio,2013,small,hatchback
2197,5pUluOQ,2023-02-07T15:12:04.373+00:00,x2LJWsl,6930.10,-1.285515,36.878040,2023-02-07T15:11:57+00:00,"Buru-Buru Phase 2, Harambee, Nairobi, Nairobi ...",-1.255222,36.910404,2023-02-07T15:58:52+00:00,"Road, Njiru, Nairobi, Nairobi County, Kenya",MITSUBISHI Lancer Cedia LA-CS2A,Lancer Cedia LA-CS2A,2005,small,sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,dmPG1ni,2023-02-13T15:34:35.54+00:00,DfAX0iw,6129.58,-1.147979,36.961277,2023-02-13T15:34:33+00:00,"Ruiru Kamiti Road, Ruiru, Kiambu County, Kenya",-1.125807,37.002747,2023-02-13T16:06:42+00:00,"A2, Kenyatta Road, Kiambu County, Kenya",TOYOTA COROLLA,COROLLA,2012,small,sedan
198,oh39Oys,2022-11-24T05:59:06.426+00:00,qBmr6ZX,4359.48,-1.164641,36.956169,2022-11-24T05:59:04+00:00,"Eastern By Pass, Ruiru, Kiambu County, Kenya",-1.152129,36.919701,2022-11-24T06:09:29+00:00,"Ruiru Road Junction, Ruiru, Kenya",TUK TUK,Cooper,2010,small,rickshaw
2423,2iA2TAI,2022-10-27T07:31:48.063+00:00,NwRjKXf,438.33,-1.040951,37.081600,2022-10-27T07:31:41+00:00,"1385 Kilifi Road, Thika, Kiambu County, Kenya",-1.038626,37.083687,2022-10-27T07:37:09+00:00,"Kenyatta Highway, Thika, Kiambu County, Kenya",PIAGGIO,Piaggio,2012,small,rickshaw
2298,OsatoVn,2023-01-18T08:10:08.278+00:00,7EmSkds,250.79,-1.055599,37.111916,2023-01-18T08:10:06+00:00,"Garissa Road, Thika, Kiambu County, Kenya",-1.056628,37.111664,2023-01-18T08:18:02+00:00,"Makongeni, Thika, Kiambu County, Kenya",TOYOTA PROBOX,Prius,2009,small,van
402,u3qltIH,2022-05-25T12:51:57.066+00:00,40ruNQU,1111.92,-0.288824,37.108723,2022-05-25T12:51:53+00:00,"Mitero Road, Ndathi, Nyeri County, Kenya",-0.293798,37.103607,2022-05-25T12:57:50+00:00,"Mitero Road, Ndathi, Nyeri County, Kenya",BMW F650 GS 218,F650 GS 218,2021,small,motorcycle

In [19]:
knn_df.isna().sum()

id                        0
created                   0
asset_id                  0
distance                  0
origin.latitude           0
origin.longitude          0
origin.time_stamp         0
origin.address            0
destination.latitude      0
destination.longitude     0
destination.time_stamp    0
destination.address       0
make                      0
model                     0
year                      0
vehicle_size              0
vehicle_body_category     0
dtype: int64

In [20]:
#the idea for dropping the points is so that we pick the asset-id, the Id and do the following on that data:
#1. We can plot the coordinates on a map eg using plotly or folium to visualize routes
#2. We can calculate distances between each pair of coordinates 
#3. We can use timestamps associated with the coordinates to calculate speed of cargo between coordinate
#The above is the one we will use to check for smoking habits etc
#4. Cluster the coordinates to help identify where cargo spends most time eg using Kmeans clustering
#5. We can predict arrival time based on the movement. For like logistics and plan better for customer service

In [21]:
knn_df.head()

,id,created,asset_id,distance,origin.latitude,origin.longitude,origin.time_stamp,origin.address,destination.latitude,destination.longitude,destination.time_stamp,destination.address,make,model,year,vehicle_size,vehicle_body_category
4687,ZhYas2h,2023-03-03T04:10:27.952+00:00,3XBsRFw,1556.91,-1.042338,37.066116,2023-03-03T04:10:25+00:00,"8061 A3, Thika, Kiambu County, Kenya",-1.048332,37.078449,2023-03-03T04:13:53+00:00,"Garissa Road, Thika, Kiambu County, Kenya",BAJAJ,PR3 125 Enduro,2017,small,motorcycle
2951,EqtGouy,2022-05-14T07:22:34.099+00:00,eH0O4bf,1859.41,1.023974,34.998661,2022-05-14T07:22:30+00:00,"Street, Kitale, Trans-Nzoia County, Kenya",1.019898,35.006329,2022-05-14T07:35:54+00:00,"Ravine Road, Kitale, Trans-Nzoia County, Kenya",Nissan,Note,2011,small,hatchback
4071,jtC9UwC,2023-03-05T19:03:43.189+00:00,4tQe9sV,2573.97,-1.326325,36.898495,2023-02-23T14:12:54+00:00,"Transami, Embakasi, Nairobi, Nairobi County, K...",-1.327427,36.881987,2023-02-23T14:44:16+00:00,"Imara Daima, Embakasi, Nairobi, Nairobi County...",Honda Odyssey,Odyssey,2012,medium,minivan
4579,QTBzT43,2023-02-27T06:35:19.913+00:00,O9lGdg3,1109.93,-1.287073,36.803280,2023-02-27T06:35:05+00:00,"Kilimani STATE HOUSE TETU BLDG, Nairobi, Kenya",-1.289505,36.807678,2023-02-27T06:40:04+00:00,"22 Milimani Road, Kilimani, Nairobi, Nairobi C...",MAZDA Demio,Demio,2013,small,hatchback
2197,5pUluOQ,2023-02-07T15:12:04.373+00:00,x2LJWsl,6930.10,-1.285515,36.878040,2023-02-07T15:11:57+00:00,"Buru-Buru Phase 2, Harambee, Nairobi, Nairobi ...",-1.255222,36.910404,2023-02-07T15:58:52+00:00,"Road, Njiru, Nairobi, Nairobi County, Kenya",MITSUBISHI Lancer Cedia LA-CS2A,Lancer Cedia LA-CS2A,2005,small,sedan

Determine the trip time by subtracting `'origin.time_stamp'` from `'destination.time_stamp'`. To get the time in hours,

In [22]:
from datetime import datetime

# Time elapsed in hours between two timestamps
def time_elapsed(start, end):
  format = '%Y-%m-%dT%H:%M:%S%f%z'
  start = datetime.strptime(start, format)
  end = datetime.strptime(end, format)
  return (end - start).total_seconds() / 3600


# time elapsed in hours between two timestamps in a dataframe
def time_elapsed_df(df, start, end):
    df['trip_time_hours'] = df.apply(lambda x: time_elapsed(x[start], x[end]), axis=1)
    return df

    
time_elapsed_df(knn_df, 'origin.time_stamp', 'destination.time_stamp')

,id,created,asset_id,distance,origin.latitude,origin.longitude,origin.time_stamp,origin.address,destination.latitude,destination.longitude,destination.time_stamp,destination.address,make,model,year,vehicle_size,vehicle_body_category,trip_time_hours
4687,ZhYas2h,2023-03-03T04:10:27.952+00:00,3XBsRFw,1556.91,-1.042338,37.066116,2023-03-03T04:10:25+00:00,"8061 A3, Thika, Kiambu County, Kenya",-1.048332,37.078449,2023-03-03T04:13:53+00:00,"Garissa Road, Thika, Kiambu County, Kenya",BAJAJ,PR3 125 Enduro,2017,small,motorcycle,0.050778
2951,EqtGouy,2022-05-14T07:22:34.099+00:00,eH0O4bf,1859.41,1.023974,34.998661,2022-05-14T07:22:30+00:00,"Street, Kitale, Trans-Nzoia County, Kenya",1.019898,35.006329,2022-05-14T07:35:54+00:00,"Ravine Road, Kitale, Trans-Nzoia County, Kenya",Nissan,Note,2011,small,hatchback,0.217333
4071,jtC9UwC,2023-03-05T19:03:43.189+00:00,4tQe9sV,2573.97,-1.326325,36.898495,2023-02-23T14:12:54+00:00,"Transami, Embakasi, Nairobi, Nairobi County, K...",-1.327427,36.881987,2023-02-23T14:44:16+00:00,"Imara Daima, Embakasi, Nairobi, Nairobi County...",Honda Odyssey,Odyssey,2012,medium,minivan,0.532278
4579,QTBzT43,2023-02-27T06:35:19.913+00:00,O9lGdg3,1109.93,-1.287073,36.803280,2023-02-27T06:35:05+00:00,"Kilimani STATE HOUSE TETU BLDG, Nairobi, Kenya",-1.289505,36.807678,2023-02-27T06:40:04+00:00,"22 Milimani Road, Kilimani, Nairobi, Nairobi C...",MAZDA Demio,Demio,2013,small,hatchback,0.083306
2197,5pUluOQ,2023-02-07T15:12:04.373+00:00,x2LJWsl,6930.10,-1.285515,36.878040,2023-02-07T15:11:57+00:00,"Buru-Buru Phase 2, Harambee, Nairobi, Nairobi ...",-1.255222,36.910404,2023-02-07T15:58:52+00:00,"Road, Njiru, Nairobi, Nairobi County, Kenya",MITSUBISHI Lancer Cedia LA-CS2A,Lancer Cedia LA-CS2A,2005,small,sedan,0.783194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,dmPG1ni,2023-02-13T15:34:35.54+00:00,DfAX0iw,6129.58,-1.147979,36.961277,2023-02-13T15:34:33+00:00,"Ruiru Kamiti Road, Ruiru, Kiambu County, Kenya",-1.125807,37.002747,2023-02-13T16:06:42+00:00,"A2, Kenyatta Road, Kiambu County, Kenya",TOYOTA COROLLA,COROLLA,2012,small,sedan,0.533583
198,oh39Oys,2022-11-24T05:59:06.426+00:00,qBmr6ZX,4359.48,-1.164641,36.956169,2022-11-24T05:59:04+00:00,"Eastern By Pass, Ruiru, Kiambu County, Kenya",-1.152129,36.919701,2022-11-24T06:09:29+00:00,"Ruiru Road Junction, Ruiru, Kenya",TUK TUK,Cooper,2010,small,rickshaw,0.167361
2423,2iA2TAI,2022-10-27T07:31:48.063+00:00,NwRjKXf,438.33,-1.040951,37.081600,2022-10-27T07:31:41+00:00,"1385 Kilifi Road, Thika, Kiambu County, Kenya",-1.038626,37.083687,2022-10-27T07:37:09+00:00,"Kenyatta Highway, Thika, Kiambu County, Kenya",PIAGGIO,Piaggio,2012,small,rickshaw,0.099111
2298,OsatoVn,2023-01-18T08:10:08.278+00:00,7EmSkds,250.79,-1.055599,37.111916,2023-01-18T08:10:06+00:00,"Garissa Road, Thika, Kiambu County, Kenya",-1.056628,37.111664,2023-01-18T08:18:02+00:00,"Makongeni, Thika, Kiambu County, Kenya",TOYOTA PROBOX,Prius,2009,small,van,0.133222
402,u3qltIH,2022-05-25T12:51:57.066+00:00,40ruNQU,1111.92,-0.288824,37.108723,2022-05-25T12:51:53+00:00,"Mitero Road, Ndathi, Nyeri County, Kenya",-0.293798,37.103607,2022-05-25T12:57:50+00:00,"Mitero Road, Ndathi, Nyeri County, Kenya",BMW F650 GS 218,F650 GS 218,2021,small,motorcycle,0.099917

In [23]:
knn_df['distance']= knn_df['distance']/1000
knn_df.head()

,id,created,asset_id,distance,origin.latitude,origin.longitude,origin.time_stamp,origin.address,destination.latitude,destination.longitude,destination.time_stamp,destination.address,make,model,year,vehicle_size,vehicle_body_category,trip_time_hours
4687,ZhYas2h,2023-03-03T04:10:27.952+00:00,3XBsRFw,1.55691,-1.042338,37.066116,2023-03-03T04:10:25+00:00,"8061 A3, Thika, Kiambu County, Kenya",-1.048332,37.078449,2023-03-03T04:13:53+00:00,"Garissa Road, Thika, Kiambu County, Kenya",BAJAJ,PR3 125 Enduro,2017,small,motorcycle,0.050778
2951,EqtGouy,2022-05-14T07:22:34.099+00:00,eH0O4bf,1.85941,1.023974,34.998661,2022-05-14T07:22:30+00:00,"Street, Kitale, Trans-Nzoia County, Kenya",1.019898,35.006329,2022-05-14T07:35:54+00:00,"Ravine Road, Kitale, Trans-Nzoia County, Kenya",Nissan,Note,2011,small,hatchback,0.217333
4071,jtC9UwC,2023-03-05T19:03:43.189+00:00,4tQe9sV,2.57397,-1.326325,36.898495,2023-02-23T14:12:54+00:00,"Transami, Embakasi, Nairobi, Nairobi County, K...",-1.327427,36.881987,2023-02-23T14:44:16+00:00,"Imara Daima, Embakasi, Nairobi, Nairobi County...",Honda Odyssey,Odyssey,2012,medium,minivan,0.532278
4579,QTBzT43,2023-02-27T06:35:19.913+00:00,O9lGdg3,1.10993,-1.287073,36.803280,2023-02-27T06:35:05+00:00,"Kilimani STATE HOUSE TETU BLDG, Nairobi, Kenya",-1.289505,36.807678,2023-02-27T06:40:04+00:00,"22 Milimani Road, Kilimani, Nairobi, Nairobi C...",MAZDA Demio,Demio,2013,small,hatchback,0.083306
2197,5pUluOQ,2023-02-07T15:12:04.373+00:00,x2LJWsl,6.93010,-1.285515,36.878040,2023-02-07T15:11:57+00:00,"Buru-Buru Phase 2, Harambee, Nairobi, Nairobi ...",-1.255222,36.910404,2023-02-07T15:58:52+00:00,"Road, Njiru, Nairobi, Nairobi County, Kenya",MITSUBISHI Lancer Cedia LA-CS2A,Lancer Cedia LA-CS2A,2005,small,sedan,0.783194

In [24]:
#removing some of the outliers (cars that travel within one minute)
knn_df.drop(knn_df[knn_df['trip_time_hours']< (60/3600)].index, inplace = True)

Get the difference in time by doing `destination.time_stamp - origin.time_stamp` and add a column to show the difference in hours.

In [25]:
def avg_speed(df, distance, time):
  df['avg_speed_kph'] = (df[distance]) / df[time]
  return df

avg_speed(knn_df, 'distance', 'trip_time_hours')

,id,created,asset_id,distance,origin.latitude,origin.longitude,origin.time_stamp,origin.address,destination.latitude,destination.longitude,destination.time_stamp,destination.address,make,model,year,vehicle_size,vehicle_body_category,trip_time_hours,avg_speed_kph
4687,ZhYas2h,2023-03-03T04:10:27.952+00:00,3XBsRFw,1.55691,-1.042338,37.066116,2023-03-03T04:10:25+00:00,"8061 A3, Thika, Kiambu County, Kenya",-1.048332,37.078449,2023-03-03T04:13:53+00:00,"Garissa Road, Thika, Kiambu County, Kenya",BAJAJ,PR3 125 Enduro,2017,small,motorcycle,0.050778,30.661247
2951,EqtGouy,2022-05-14T07:22:34.099+00:00,eH0O4bf,1.85941,1.023974,34.998661,2022-05-14T07:22:30+00:00,"Street, Kitale, Trans-Nzoia County, Kenya",1.019898,35.006329,2022-05-14T07:35:54+00:00,"Ravine Road, Kitale, Trans-Nzoia County, Kenya",Nissan,Note,2011,small,hatchback,0.217333,8.555567
4071,jtC9UwC,2023-03-05T19:03:43.189+00:00,4tQe9sV,2.57397,-1.326325,36.898495,2023-02-23T14:12:54+00:00,"Transami, Embakasi, Nairobi, Nairobi County, K...",-1.327427,36.881987,2023-02-23T14:44:16+00:00,"Imara Daima, Embakasi, Nairobi, Nairobi County...",Honda Odyssey,Odyssey,2012,medium,minivan,0.532278,4.835765
4579,QTBzT43,2023-02-27T06:35:19.913+00:00,O9lGdg3,1.10993,-1.287073,36.803280,2023-02-27T06:35:05+00:00,"Kilimani STATE HOUSE TETU BLDG, Nairobi, Kenya",-1.289505,36.807678,2023-02-27T06:40:04+00:00,"22 Milimani Road, Kilimani, Nairobi, Nairobi C...",MAZDA Demio,Demio,2013,small,hatchback,0.083306,13.323601
2197,5pUluOQ,2023-02-07T15:12:04.373+00:00,x2LJWsl,6.93010,-1.285515,36.878040,2023-02-07T15:11:57+00:00,"Buru-Buru Phase 2, Harambee, Nairobi, Nairobi ...",-1.255222,36.910404,2023-02-07T15:58:52+00:00,"Road, Njiru, Nairobi, Nairobi County, Kenya",MITSUBISHI Lancer Cedia LA-CS2A,Lancer Cedia LA-CS2A,2005,small,sedan,0.783194,8.848505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,dmPG1ni,2023-02-13T15:34:35.54+00:00,DfAX0iw,6.12958,-1.147979,36.961277,2023-02-13T15:34:33+00:00,"Ruiru Kamiti Road, Ruiru, Kiambu County, Kenya",-1.125807,37.002747,2023-02-13T16:06:42+00:00,"A2, Kenyatta Road, Kiambu County, Kenya",TOYOTA COROLLA,COROLLA,2012,small,sedan,0.533583,11.487578
198,oh39Oys,2022-11-24T05:59:06.426+00:00,qBmr6ZX,4.35948,-1.164641,36.956169,2022-11-24T05:59:04+00:00,"Eastern By Pass, Ruiru, Kiambu County, Kenya",-1.152129,36.919701,2022-11-24T06:09:29+00:00,"Ruiru Road Junction, Ruiru, Kenya",TUK TUK,Cooper,2010,small,rickshaw,0.167361,26.048345
2423,2iA2TAI,2022-10-27T07:31:48.063+00:00,NwRjKXf,0.43833,-1.040951,37.081600,2022-10-27T07:31:41+00:00,"1385 Kilifi Road, Thika, Kiambu County, Kenya",-1.038626,37.083687,2022-10-27T07:37:09+00:00,"Kenyatta Highway, Thika, Kiambu County, Kenya",PIAGGIO,Piaggio,2012,small,rickshaw,0.099111,4.422612
2298,OsatoVn,2023-01-18T08:10:08.278+00:00,7EmSkds,0.25079,-1.055599,37.111916,2023-01-18T08:10:06+00:00,"Garissa Road, Thika, Kiambu County, Kenya",-1.056628,37.111664,2023-01-18T08:18:02+00:00,"Makongeni, Thika, Kiambu County, Kenya",TOYOTA PROBOX,Prius,2009,small,van,0.133222,1.882494
402,u3qltIH,2022-05-25T12:51:57.066+00:00,40ruNQU,1.11192,-0.288824,37.108723,2022-05-25T12:51:53+00:00,"Mitero Road, Ndathi, Nyeri County, Kenya",-0.293798,37.103607,2022-05-25T12:57:50+00:00,"Mitero Road, Ndathi, Nyeri County, Kenya",BMW F650 GS 218,F650 GS 218,2021,small,motorcycle,0.099917,11.128474

In [26]:
knn_df[knn_df.avg_speed_kph>180]

,id,created,asset_id,distance,origin.latitude,origin.longitude,origin.time_stamp,origin.address,destination.latitude,destination.longitude,destination.time_stamp,destination.address,make,model,year,vehicle_size,vehicle_body_category,trip_time_hours,avg_speed_kph
1848,3aY8MmI,2023-01-22T06:29:02.494+00:00,48weVrM,45.02388,-1.033148,37.074517,2023-01-22T06:28:58+00:00,"Haile Selassie Road, Thika, Kiambu County, Kenya",-1.302943,36.773007,2023-01-22T06:31:26+00:00,"Jamhuri, Woodley, Nairobi, Nairobi County, Kenya",LEXUS NX 300H CVT,NX 300H CVT,2016,medium,suv,0.049111,916.775837
1841,GPzuECc,2023-01-31T11:18:14.086+00:00,48weVrM,62.69813,-1.298547,36.788942,2023-01-31T11:18:07+00:00,"525 Kindaruma Road, Kilimani, Nairobi, Nairobi...",-0.806252,37.032012,2023-01-31T11:33:26+00:00,"Kamira, Muranga County, Kenya",LEXUS NX 300H CVT,NX 300H CVT,2016,medium,suv,0.250528,250.264184
2080,wO3xyeM,2022-11-23T12:43:43.956+00:00,CwMnt8w,23.41607,-1.279821,37.115273,2022-11-23T12:43:36+00:00,"Nguluni, Machakos County, Kenya",-1.070697,37.091373,2022-11-23T12:46:06+00:00,"Kiganjo - British American Tobacco Road, Thika...",Tuk Tuk,Alhambra,2014,small,rickshaw,0.049167,476.259051

In [27]:
#dropping these mac speeds
knn_df = knn_df.drop(knn_df[knn_df['avg_speed_kph'] > 180].index)

In [28]:
# Group timestamps by set periods
def group_timestamps(df, column):
  df['timestamp_year'] = pd.to_datetime(df[column]).dt.year
  df['week_of_year'] = pd.to_datetime(df[column]).dt.isocalendar().week
  df['quarter'] = pd.to_datetime(df[column]).dt.quarter
  df['month'] = pd.to_datetime(df[column]).dt.month_name()
  df['day'] = pd.to_datetime(df[column]).dt.day
  df['day_of_week'] = pd.to_datetime(df[column]).dt.day_name()
  df['day_of_week_id'] = pd.to_datetime(df[column]).dt.dayofweek
  df['hour'] = pd.to_datetime(df[column]).dt.hour
  return df


group_timestamps(knn_df, 'origin.time_stamp')

,id,created,asset_id,distance,origin.latitude,origin.longitude,origin.time_stamp,origin.address,destination.latitude,destination.longitude,...,trip_time_hours,avg_speed_kph,timestamp_year,week_of_year,quarter,month,day,day_of_week,day_of_week_id,hour
4687,ZhYas2h,2023-03-03T04:10:27.952+00:00,3XBsRFw,1.55691,-1.042338,37.066116,2023-03-03T04:10:25+00:00,"8061 A3, Thika, Kiambu County, Kenya",-1.048332,37.078449,...,0.050778,30.661247,2023,9,1,March,3,Friday,4,4
2951,EqtGouy,2022-05-14T07:22:34.099+00:00,eH0O4bf,1.85941,1.023974,34.998661,2022-05-14T07:22:30+00:00,"Street, Kitale, Trans-Nzoia County, Kenya",1.019898,35.006329,...,0.217333,8.555567,2022,19,2,May,14,Saturday,5,7
4071,jtC9UwC,2023-03-05T19:03:43.189+00:00,4tQe9sV,2.57397,-1.326325,36.898495,2023-02-23T14:12:54+00:00,"Transami, Embakasi, Nairobi, Nairobi County, K...",-1.327427,36.881987,...,0.532278,4.835765,2023,8,1,February,23,Thursday,3,14
4579,QTBzT43,2023-02-27T06:35:19.913+00:00,O9lGdg3,1.10993,-1.287073,36.803280,2023-02-27T06:35:05+00:00,"Kilimani STATE HOUSE TETU BLDG, Nairobi, Kenya",-1.289505,36.807678,...,0.083306,13.323601,2023,9,1,February,27,Monday,0,6
2197,5pUluOQ,2023-02-07T15:12:04.373+00:00,x2LJWsl,6.93010,-1.285515,36.878040,2023-02-07T15:11:57+00:00,"Buru-Buru Phase 2, Harambee, Nairobi, Nairobi ...",-1.255222,36.910404,...,0.783194,8.848505,2023,6,1,February,7,Tuesday,1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,dmPG1ni,2023-02-13T15:34:35.54+00:00,DfAX0iw,6.12958,-1.147979,36.961277,2023-02-13T15:34:33+00:00,"Ruiru Kamiti Road, Ruiru, Kiambu County, Kenya",-1.125807,37.002747,...,0.533583,11.487578,2023,7,1,February,13,Monday,0,15
198,oh39Oys,2022-11-24T05:59:06.426+00:00,qBmr6ZX,4.35948,-1.164641,36.956169,2022-11-24T05:59:04+00:00,"Eastern By Pass, Ruiru, Kiambu County, Kenya",-1.152129,36.919701,...,0.167361,26.048345,2022,47,4,November,24,Thursday,3,5
2423,2iA2TAI,2022-10-27T07:31:48.063+00:00,NwRjKXf,0.43833,-1.040951,37.081600,2022-10-27T07:31:41+00:00,"1385 Kilifi Road, Thika, Kiambu County, Kenya",-1.038626,37.083687,...,0.099111,4.422612,2022,43,4,October,27,Thursday,3,7
2298,OsatoVn,2023-01-18T08:10:08.278+00:00,7EmSkds,0.25079,-1.055599,37.111916,2023-01-18T08:10:06+00:00,"Garissa Road, Thika, Kiambu County, Kenya",-1.056628,37.111664,...,0.133222,1.882494,2023,3,1,January,18,Wednesday,2,8
402,u3qltIH,2022-05-25T12:51:57.066+00:00,40ruNQU,1.11192,-0.288824,37.108723,2022-05-25T12:51:53+00:00,"Mitero Road, Ndathi, Nyeri County, Kenya",-0.293798,37.103607,...,0.099917,11.128474,2022,21,2,May,25,Wednesday,2,12

In [29]:
#column to indicate weekdays and weekends
is_weekday = lambda day:'Weekday' if 0<=day<5 else 'Weekend'
knn_df['weekday'] = knn_df['day_of_week_id'].apply(is_weekday)

In [30]:
knn_df.head()

,id,created,asset_id,distance,origin.latitude,origin.longitude,origin.time_stamp,origin.address,destination.latitude,destination.longitude,...,avg_speed_kph,timestamp_year,week_of_year,quarter,month,day,day_of_week,day_of_week_id,hour,weekday
4687,ZhYas2h,2023-03-03T04:10:27.952+00:00,3XBsRFw,1.55691,-1.042338,37.066116,2023-03-03T04:10:25+00:00,"8061 A3, Thika, Kiambu County, Kenya",-1.048332,37.078449,...,30.661247,2023,9,1,March,3,Friday,4,4,Weekday
2951,EqtGouy,2022-05-14T07:22:34.099+00:00,eH0O4bf,1.85941,1.023974,34.998661,2022-05-14T07:22:30+00:00,"Street, Kitale, Trans-Nzoia County, Kenya",1.019898,35.006329,...,8.555567,2022,19,2,May,14,Saturday,5,7,Weekend
4071,jtC9UwC,2023-03-05T19:03:43.189+00:00,4tQe9sV,2.57397,-1.326325,36.898495,2023-02-23T14:12:54+00:00,"Transami, Embakasi, Nairobi, Nairobi County, K...",-1.327427,36.881987,...,4.835765,2023,8,1,February,23,Thursday,3,14,Weekday
4579,QTBzT43,2023-02-27T06:35:19.913+00:00,O9lGdg3,1.10993,-1.287073,36.803280,2023-02-27T06:35:05+00:00,"Kilimani STATE HOUSE TETU BLDG, Nairobi, Kenya",-1.289505,36.807678,...,13.323601,2023,9,1,February,27,Monday,0,6,Weekday
2197,5pUluOQ,2023-02-07T15:12:04.373+00:00,x2LJWsl,6.93010,-1.285515,36.878040,2023-02-07T15:11:57+00:00,"Buru-Buru Phase 2, Harambee, Nairobi, Nairobi ...",-1.255222,36.910404,...,8.848505,2023,6,1,February,7,Tuesday,1,15,Weekday

Visualizations

In [31]:
!pip install -q streamlit

In [32]:
!pip install gmaps

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gmaps in /usr/local/lib/python3.9/dist-packages (0.9.0)
Requirement already satisfied: geojson>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from gmaps) (3.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from gmaps) (1.16.0)
Requirement already satisfied: traitlets>=4.3.0 in /usr/local/lib/python3.9/dist-packages (from gmaps) (5.7.1)
Requirement already satisfied: ipython>=5.3.0 in /usr/local/lib/python3.9/dist-packages (from gmaps) (7.34.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.9/dist-packages (from gmaps) (7.7.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->gmaps) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->gmaps) (67.6.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->gmaps) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->gmaps) (2.14.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->gmaps) (0.1.6)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->gmaps) (0.18.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets>=7.0.0->gmaps) (3.0.7)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.9/dist-packages (from ipywidgets>=7.0.0->gmaps) (5.5.6)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets>=7.0.0->gmaps) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets>=7.0.0->gmaps) (3.6.4)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.9/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.2)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.9/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.12)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.9/dist-packages (from jedi>=0.16->ipython>=5.3.0->gmaps) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/dist-packages (from pexpect>4.3->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.6)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.9/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (6.3.0)
Requirement already satisfied: jupyter-core>=4.6.1 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (5.3.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.17.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.16.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (5.8.0)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (21.3.0)
Requirement already satisfied: Send2Trash>=1.5.0 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (1.8.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (23.2.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (6.5.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (3.1.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.9/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.2)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.9/dist-packages (from jupyter-core>=4.6.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.9/dist-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (21.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (2.1.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (6.0.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (23.0)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.2.2)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (1.2.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (4.11.2)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.7.2)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.4)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (4.9.2)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.9/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.9/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (2.16.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (22.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.19.3)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (2.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->gmaps) (2.21)

In [33]:
import gmaps
from google.colab import output

In [34]:
!pip install git+https://github.com/andfanilo/streamlit-aggrid.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/andfanilo/streamlit-aggrid.git
  Cloning https://github.com/andfanilo/streamlit-aggrid.git to /tmp/pip-req-build-shykdmuj
  Running command git clone --filter=blob:none --quiet https://github.com/andfanilo/streamlit-aggrid.git /tmp/pip-req-build-shykdmuj
  Resolved https://github.com/andfanilo/streamlit-aggrid.git to commit d1bf6f99ba82118efecf3e5df64009e0ac48bcab
  Preparing metadata (setup.py) ... done

In [35]:
!pip install streamlit-folium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: streamlit-folium in /usr/local/lib/python3.9/dist-packages (0.11.1)
Requirement already satisfied: streamlit>=1.13.0 in /usr/local/lib/python3.9/dist-packages (from streamlit-folium) (1.20.0)
Requirement already satisfied: folium>=0.13 in /usr/local/lib/python3.9/dist-packages (from streamlit-folium) (0.14.0)
Requirement already satisfied: branca in /usr/local/lib/python3.9/dist-packages (from streamlit-folium) (0.6.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from streamlit-folium) (3.1.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from folium>=0.13->streamlit-folium) (1.22.4)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from folium>=0.13->streamlit-folium) (2.27.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->streamlit-folium) (2.1.2)
Requirement already satisfied: pandas<2,>=0.25 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (1.4.4)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (5.3.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (8.4.0)
Requirement already satisfied: altair<5,>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (4.2.2)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (13.3.3)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (6.1.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (2.8.2)
Requirement already satisfied: tzlocal>=1.1 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (4.3)
Requirement already satisfied: blinker>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (1.6)
Requirement already satisfied: gitpython!=3.1.19 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (3.1.31)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (8.1.3)
Requirement already satisfied: toml in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (0.10.2)
Requirement already satisfied: pyarrow>=4.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (9.0.0)
Requirement already satisfied: watchdog in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (3.0.0)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (4.5.0)
Requirement already satisfied: packaging>=14.1 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (23.0)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (6.2)
Requirement already satisfied: protobuf<4,>=3.12 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (3.20.3)
Requirement already satisfied: validators>=0.2 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (0.20.0)
Requirement already satisfied: pydeck>=0.1.dev5 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (0.8.0)
Requirement already satisfied: semver in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (3.0.0)
Requirement already satisfied: pympler>=0.9 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.13.0->streamlit-folium) (1.0.1)
Requirement already satisfied: toolz in /usr/local/lib/python3.9/dist-packages (from altair<5,>=3.2.0->streamlit>=1.13.0->streamlit-folium) (0.12.0)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.9/dist-packages (from altair<5,>=3.2.0->streamlit>=1.13.0->streamlit-folium) (4.3.3)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.9/dist-packages (from altair<5,>=3.2.0->streamlit>=1.13.0->streamlit-folium) (0.4)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.9/dist-packages (from gitpython!=3.1.19->streamlit>=1.13.0->streamlit-folium) (4.0.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=1.4->streamlit>=1.13.0->streamlit-folium) (3.15.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas<2,>=0.25->streamlit>=1.13.0->streamlit-folium) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil->streamlit>=1.13.0->streamlit-folium) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->folium>=0.13->streamlit-folium) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->folium>=0.13->streamlit-folium) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->folium>=0.13->streamlit-folium) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->folium>=0.13->streamlit-folium) (1.26.15)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in /usr/local/lib/python3.9/dist-packages (from rich>=10.11.0->streamlit>=1.13.0->streamlit-folium) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.9/dist-packages (from rich>=10.11.0->streamlit>=1.13.0->streamlit-folium) (2.14.0)
Requirement already satisfied: pytz-deprecation-shim in /usr/local/lib/python3.9/dist-packages (from tzlocal>=1.1->streamlit>=1.13.0->streamlit-folium) (0.1.0.post0)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.9/dist-packages (from validators>=0.2->streamlit>=1.13.0->streamlit-folium) (4.4.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.9/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit>=1.13.0->streamlit-folium) (5.0.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit>=1.13.0->streamlit-folium) (22.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit>=1.13.0->streamlit-folium) (0.19.3)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.9/dist-packages (from markdown-it-py<3.0.0,>=2.2.0->rich>=10.11.0->streamlit>=1.13.0->streamlit-folium) (0.1.2)
Requirement already satisfied: tzdata in /usr/local/lib/python3.9/dist-packages (from pytz-deprecation-shim->tzlocal>=1.1->streamlit>=1.13.0->streamlit-folium) (2023.3)

In [36]:
! pip install googlemaps

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: googlemaps in /usr/local/lib/python3.9/dist-packages (4.10.0)
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.9/dist-packages (from googlemaps) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.15)

In [37]:
!pip install streamlit-extras

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: streamlit-extras in /usr/local/lib/python3.9/dist-packages (0.2.6)
Requirement already satisfied: markdownlit>=0.0.5 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (0.0.5)
Requirement already satisfied: streamlit-embedcode>=0.1.2 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (0.1.2)
Requirement already satisfied: streamlit-vertical-slider>=1.0.2 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (1.0.2)
Requirement already satisfied: streamlit>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (1.20.0)
Requirement already satisfied: streamlit-camera-input-live>=0.2.0 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (0.2.0)
Requirement already satisfied: htbuilder==0.6.1 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (0.6.1)
Requirement already satisfied: protobuf!=3.20.2 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (3.20.3)
Requirement already satisfied: streamlit-card>=0.0.4 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (0.0.4)
Requirement already satisfied: streamlit-faker>=0.0.2 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (0.0.2)
Requirement already satisfied: st-annotated-text>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (3.0.0)
Requirement already satisfied: streamlit-keyup>=0.1.9 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (0.2.0)
Requirement already satisfied: streamlit-toggle-switch>=1.0.2 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (1.0.2)
Requirement already satisfied: streamlit-image-coordinates<0.2.0,>=0.1.1 in /usr/local/lib/python3.9/dist-packages (from streamlit-extras) (0.1.3)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.9/dist-packages (from htbuilder==0.6.1->streamlit-extras) (9.1.0)
Requirement already satisfied: markdown in /usr/local/lib/python3.9/dist-packages (from markdownlit>=0.0.5->streamlit-extras) (3.4.3)
Requirement already satisfied: favicon in /usr/local/lib/python3.9/dist-packages (from markdownlit>=0.0.5->streamlit-extras) (0.7.0)
Requirement already satisfied: pymdown-extensions in /usr/local/lib/python3.9/dist-packages (from markdownlit>=0.0.5->streamlit-extras) (9.10)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from markdownlit>=0.0.5->streamlit-extras) (4.9.2)
Requirement already satisfied: gitpython!=3.1.19 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (3.1.31)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (6.1.0)
Requirement already satisfied: altair<5,>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (4.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (1.22.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (8.4.0)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (6.2)
Requirement already satisfied: semver in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (3.0.0)
Requirement already satisfied: pydeck>=0.1.dev5 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (0.8.0)
Requirement already satisfied: pympler>=0.9 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (1.0.1)
Requirement already satisfied: validators>=0.2 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (0.20.0)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (5.3.0)
Requirement already satisfied: pyarrow>=4.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (9.0.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (8.1.3)
Requirement already satisfied: blinker>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (1.6)
Requirement already satisfied: packaging>=14.1 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (23.0)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (13.3.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (2.8.2)
Requirement already satisfied: tzlocal>=1.1 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (4.3)
Requirement already satisfied: requests>=2.4 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (2.27.1)
Requirement already satisfied: pandas<2,>=0.25 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (1.4.4)
Requirement already satisfied: watchdog in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (3.0.0)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (4.5.0)
Requirement already satisfied: toml in /usr/local/lib/python3.9/dist-packages (from streamlit>=1.0.0->streamlit-extras) (0.10.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from streamlit-camera-input-live>=0.2.0->streamlit-extras) (3.1.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from streamlit-faker>=0.0.2->streamlit-extras) (3.7.1)
Requirement already satisfied: faker in /usr/local/lib/python3.9/dist-packages (from streamlit-faker>=0.0.2->streamlit-extras) (18.3.2)
Requirement already satisfied: toolz in /usr/local/lib/python3.9/dist-packages (from altair<5,>=3.2.0->streamlit>=1.0.0->streamlit-extras) (0.12.0)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.9/dist-packages (from altair<5,>=3.2.0->streamlit>=1.0.0->streamlit-extras) (4.3.3)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.9/dist-packages (from altair<5,>=3.2.0->streamlit>=1.0.0->streamlit-extras) (0.4)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.9/dist-packages (from gitpython!=3.1.19->streamlit>=1.0.0->streamlit-extras) (4.0.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=1.4->streamlit>=1.0.0->streamlit-extras) (3.15.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas<2,>=0.25->streamlit>=1.0.0->streamlit-extras) (2022.7.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->streamlit-camera-input-live>=0.2.0->streamlit-extras) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil->streamlit>=1.0.0->streamlit-extras) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.4->streamlit>=1.0.0->streamlit-extras) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.4->streamlit>=1.0.0->streamlit-extras) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.4->streamlit>=1.0.0->streamlit-extras) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.4->streamlit>=1.0.0->streamlit-extras) (1.26.15)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in /usr/local/lib/python3.9/dist-packages (from rich>=10.11.0->streamlit>=1.0.0->streamlit-extras) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.9/dist-packages (from rich>=10.11.0->streamlit>=1.0.0->streamlit-extras) (2.14.0)
Requirement already satisfied: pytz-deprecation-shim in /usr/local/lib/python3.9/dist-packages (from tzlocal>=1.1->streamlit>=1.0.0->streamlit-extras) (0.1.0.post0)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.9/dist-packages (from validators>=0.2->streamlit>=1.0.0->streamlit-extras) (4.4.2)
Requirement already satisfied: beautifulsoup4>=4.7.0 in /usr/local/lib/python3.9/dist-packages (from favicon->markdownlit>=0.0.5->streamlit-extras) (4.11.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->streamlit-faker>=0.0.2->streamlit-extras) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->streamlit-faker>=0.0.2->streamlit-extras) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->streamlit-faker>=0.0.2->streamlit-extras) (4.39.3)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->streamlit-faker>=0.0.2->streamlit-extras) (3.0.9)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->streamlit-faker>=0.0.2->streamlit-extras) (5.12.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->streamlit-faker>=0.0.2->streamlit-extras) (1.4.4)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.9/dist-packages (from pymdown-extensions->markdownlit>=0.0.5->streamlit-extras) (6.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.7.0->favicon->markdownlit>=0.0.5->streamlit-extras) (2.4)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.9/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit>=1.0.0->streamlit-extras) (5.0.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit>=1.0.0->streamlit-extras) (22.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit>=1.0.0->streamlit-extras) (0.19.3)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.9/dist-packages (from markdown-it-py<3.0.0,>=2.2.0->rich>=10.11.0->streamlit>=1.0.0->streamlit-extras) (0.1.2)
Requirement already satisfied: tzdata in /usr/local/lib/python3.9/dist-packages (from pytz-deprecation-shim->tzlocal>=1.1->streamlit>=1.0.0->streamlit-extras) (2023.3)

In [43]:
%%writefile app.py
import streamlit as st
import pandas as pd
import plotly.express as px
import base64
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import altair as alt
from altair import Chart, X, Y, Axis, SortField, OpacityValue
import gmaps
from datetime import datetime
from google.colab import output
import pydeck as pdk
import folium
import requests
import json
from streamlit_folium import folium_static
from streamlit_extras.colored_header import colored_header
from streamlit_extras.dataframe_explorer import dataframe_explorer
import gmaps
import gmaps.datasets
import googlemaps
gmaps_client = gmaps.configure(api_key = 'AIzaSyAL0OUOPihZZOy0QbA0fmub5G2G2y_EW54')


st.set_page_config(
  page_title= "Yatsa Data Analysis",
  page_icon = "🌍",
  layout = "wide",
  initial_sidebar_state = "expanded",
)

st.title("Yatsa App Data Analysis")
st.markdown("""
This app performs simple exploratory data analysis for the Yatsa Dataset provided using
python libraries. It provides insights on the current operations and will be used to provide business recommendations. 
""")


@st.cache_data
def load_data(data):
  df = pd.read_csv(data)
  return df
df = load_data('app.csv')
df = df.fillna(value=0)



#selection of particular trips and routes 
st.markdown("Visualization of the positions of the origin and destination for a trip. This can be used to asses the routes taken based on traffic and distance")
def get_route(start_coords, end_coords, api_key):
    gmaps = googlemaps.Client(key=api_key)
    try:
        directions_result = gmaps.directions(
            start_coords,
            end_coords,
            mode="driving",
            alternatives=False,
            region="us",
        )
        points = directions_result[0]["overview_polyline"]["points"]
        coords = googlemaps.convert.decode_polyline(points)
        return coords
    except (googlemaps.exceptions.ApiError, ValueError):
        return []

api_key = "AIzaSyAL0OUOPihZZOy0QbA0fmub5G2G2y_EW54"
trip_dropdown = st.selectbox("Select a trip", df["id"])
selected_trip = df.loc[df["id"] == trip_dropdown]
start_coords = (selected_trip["origin.latitude"].values[0], selected_trip["origin.longitude"].values[0])
end_coords = (selected_trip["destination.latitude"].values[0], selected_trip["destination.longitude"].values[0])
coords = get_route(start_coords, end_coords, api_key)

if coords:
    m = folium.Map(location=start_coords, zoom_start=12)
    folium.Marker(location=start_coords, icon=folium.Icon(color="green")).add_to(m)
    folium.Marker(location=end_coords, icon=folium.Icon(color="red")).add_to(m)
    folium_static(m)
else:
    st.warning("Invalid coordinates. Please select valid coordinates for the start and end points.")


#CREATION OF THE SIDEBAR

st.sidebar.header('Filter Features')
year_options = df['timestamp_year'].unique()
selected_year = st.sidebar.selectbox("Which year?", year_options, 0)
df = df[df['timestamp_year'] == selected_year]

day_categories = st.sidebar.multiselect("Filter by day:",
                                        options=df['day_of_week'].unique(),
                                        default=df['day_of_week'].unique())
if day_categories:
    df = df[df['day_of_week'].isin(day_categories)]

month_categories = st.sidebar.multiselect("Filter by month:",
                                          options=df['month'].unique(),
                                          default=df['month'].unique())
if month_categories:
    df = df[df['month'].isin(month_categories)]

particular_days_categories = st.sidebar. slider('Select the day range', 1, 31, (1, 31))
if particular_days_categories:
   df= df[(df['day'] >= particular_days_categories[0]) & (df['day'] <= particular_days_categories[1])]

quarter_categories = st.sidebar.multiselect("Filter by yearly quarters: ", options=df['quarter'].unique(), default=df['quarter'].unique())

if quarter_categories:
  df = df[df['quarter'].isin(quarter_categories)]

vehicle_size_category = st.sidebar.multiselect("Filter by vehicle size: ", options=df['vehicle_size'].unique(), default=df['vehicle_size'].unique())

if vehicle_size_category:
  df = df[df['vehicle_size'].isin(vehicle_size_category)]

body_type_category = st.sidebar.multiselect("Filter by vehicle body type: ", options=df['vehicle_body_category'].unique(), default=df['vehicle_body_category'].unique())

if body_type_category:
  df = df[df['vehicle_body_category'].isin(body_type_category)]

##CREATION OF THE DATAFRAM ON THE MAIN PAGE OF THE APP

st.subheader(" Visualization of the dataset on application of select filters")
filtered_df = dataframe_explorer(df)
st.dataframe(filtered_df.reset_index(drop=True), use_container_width=True)

##creating four column cards with the analysis
st.subheader("Inferences from the dataframe")
total_trips_made = (df['id'].count())
average_distance_travelled=round((df['distance'].mean()),2)
average_speed =round((df['avg_speed_kph'].mean()),2)
average_time =round((df['trip_time_hours'].mean()),2)

first_column, second_column, third_column, fourth_column = st.columns(4)

with first_column:
  st.markdown('Total Trips Made:')
  st.subheader(f'{total_trips_made}')
with second_column:
  st.markdown('Average distance(km):')
  st.subheader(f'{average_distance_travelled}')
with third_column:
  st.markdown('Average Speed(Kph):')
  st.subheader(f'{average_speed}')
with fourth_column:
  st.markdown('Average Time(Hrs):')
  st.subheader(f'{average_time}')

st.subheader('Description of the statistics')

#Dataframe with the analysis (Descritption)

st.write(df.describe())
colored_header(
  label="Analysis of dataframe",
  description="An insight on the various statistical values of the dataframe",
  color_name="violet-70"
)

st.write("The above table indicates the various statistical data corresponding to the filtered data.")

##Visualizations

# Set custom style settings
px.defaults.template = "plotly_dark"
px.defaults.color_continuous_scale = px.colors.sequential.Redor
px.defaults.width = 800
px.defaults.height = 600


# Create a histogram plot of the distance variable
st.subheader('Distribution plots for key features')
fig1 = px.histogram(df, x="distance", nbins=10, marginal="rug", labels={'distance': 'Distance', 'Trips': 'Density'},
                    title="Distance with Distribution",color_discrete_sequence=['#39FF14'])
fig1.update_xaxes(title_font=dict(size=15), tickfont=dict(size=15))
fig1.update_yaxes(title_font=dict(size=15), tickfont=dict(size=15))
fig1.update_layout(title_font_size=18)

st.write("This indicates the range within which most trips fall in.")
st.write("This information can be utilised to determine the frequency of fueling and the rate at which the vehicle undergoes wear and tear.")

# Create a histogram plot of the average speed variable
fig2 = px.histogram(df, x="avg_speed_kph", nbins=10, marginal="rug", labels={'avg_speed_kph': 'Average Speed', 'count': 'Density'},
                    title="Average Speed with Distribution",color_discrete_sequence=['#39FF14'])
fig2.update_xaxes(title_font=dict(size=15), tickfont=dict(size=15))
fig2.update_yaxes(title_font=dict(size=15), tickfont=dict(size=15))
fig2.update_layout(title_font_size=18)

st.write("This histogram indicates the distribution of speed per trip made by the assets.")
st.write("A higher average speed would indicate a high likelihood of reckless driving and that the driver would require additional training or have their performance metrics deduicted.")

# Create a histogram plot of the trip time variable
fig3 = px.histogram(df, x="trip_time_hours", nbins=10, marginal="rug", labels={'trip_time_hours': 'Trip Time (Hours)', 'count': 'Density'},
                    title="Trip Time with Distribution",color_discrete_sequence=['#39FF14'])
fig3.update_xaxes(title_font=dict(size=15), tickfont=dict(size=15))
fig3.update_yaxes(title_font=dict(size=15), tickfont=dict(size=15))
fig3.update_layout(title_font_size=18)

st.write("This distribution histogram indicates the duration of trips made by the assets.")
st.write("This can provide insights on how often the driver should take a break while on the road so as to avoid driving while fatigued.")

##create the columns to place the sns plots
f_viz_colm, s_viz_colm = st.columns(2)

with f_viz_colm:
  st.plotly_chart(fig1, use_container_width=True)
with s_viz_colm:
  st.plotly_chart(fig2, use_container_width = True)
  
st.plotly_chart(fig3)

###CODE TO CREATE THE SECOND SET OF BARCHART
st.header(" Variation of features")
month_counts = df.groupby('month').count().reset_index()

# Sort the months in order
months = ['January', 'February', 'March', 'April', 'May', 'June',
          'July', 'August', 'September', 'October', 'November', 'December']
month_counts['month'] = pd.Categorical(month_counts['month'], categories=months, ordered=True)
month_counts = month_counts.sort_values('month')

fig4 = px.bar(month_counts, x='month', y='id',color_discrete_sequence=['#39FF14'],
             range_y=[0, df['id'].sum()], title='Number of Trips per Month')
fig4.update_xaxes(title_text='Month')
fig4.update_yaxes(title_text='Trips made')
fig4.update_layout(title='Number of Trips per Month')



#graph for the distance vs month

# Group the data by month and calculate the average distance
distance_per_month = df.groupby('month')['distance'].mean().reset_index()

# Set custom font settings and color for plotly


# Create a bar plot of the average distance per month using plotly
fig5 = px.bar(distance_per_month, x='month', y='distance', labels={'month': 'Month', 'distance': 'Average Distance'},
             color_discrete_sequence=['#39FF14'], title='Average Distance per Month',
             category_orders={'month': ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']})

colored_header(
  label="Analysis of the above bar plots",
  description="An insight on how the trips per destination is of value to the Yatsa data analysis team",
  color_name="violet-70"
)
st.write("The bar plot indicating the number of trips taken per month: ")
st.write("This can provide insight on their busiest months and if there is need to expand the number of assets in circulation.")
st.write("Increased vehicles would be used to meet the demand for the number of trips needed and if new drivers need to be hired to meet the demand.\n\n")

st.write("The average distance would indicate which months are most travelled.")
st.write("This can also indicate the most busy seasons and how assets can be distributed to meet said demand.")

# Display the chart using Streamlit
bar1_viz, bar2_viz = st.columns(2)
with bar1_viz:
  st.plotly_chart(fig4, use_container_width=True)
with bar2_viz:
  st.plotly_chart(fig5, use_container_width = True)

# Average speed per day of the week.
avg_speed_day_of_week = df.groupby('day_of_week')['avg_speed_kph'].mean().reset_index()
speed_day_of_week = px.bar(avg_speed_day_of_week, x=avg_speed_day_of_week.index, y='avg_speed_kph', color_discrete_sequence=['#39FF14'], title='Average speed per day of the week')

st.plotly_chart(speed_day_of_week)
st.write("Legend")
st.write("{0: Monday, 1: Tuesday, 3: Wednesday, 4: Thursday, 5: Friday, 6: Saturday}")

# Describe average speed per day of the week
colored_header(
  label="Analysis of the average speed per day of the week.",
  description="An insight on how the average speed per the day of the week is of significance.",
  color_name="violet-70"
)

## Dynamic data for the highest speed per day.
st.write("This provides insights as to when the driver is more likely to speed. Higher speed during the weekends would likely indicate that the driver may be in a hurry to get home and rest from their busy workweek.")
st.write("This may indicate that the drivers are exhausted come the weekend and more assets may need to be introduced so as to ensure that the drivers are not over-exerted with long hours.")


#Weekday vs. Weekend
weekday_stats = pd.DataFrame(df.groupby('weekday').agg(trips=('id','count'),
                                                       dist_covered=('distance','sum')))

weekday_trips = px.bar(weekday_stats, x=weekday_stats.index, y='trips', color_discrete_sequence=['#39FF14'], 
                      title='Trips Made')
weekday_dist = px.bar(weekday_stats, x=weekday_stats.index, y='dist_covered', color_discrete_sequence=['#39FF14'], 
                      title='Distance Covered')

with st.container():
  trips_viz, dist_viz = st.columns(2)
  with trips_viz:
    st.plotly_chart(weekday_trips, use_container_width=True)   
  with dist_viz:
    st.plotly_chart(weekday_dist, use_container_width=True)

# Describe Weekday vs Weekend
colored_header(
  label="Analysis of the number of trips per Weekday or Weekend",
  description="An insight on the number of trips and distance made per weekday or weekend.",
  color_name="violet-70"
)

st.write("As per the chart, most trips are conducted on weekdays.")
st.write("This is valuable insights as it can be used to determine when the destination are most active or open during the weekdends.")
st.write("It can also be used to determine the disparity in distance and number of trips made in the weekends or weekdays.")
st.write("More distance is covered during weekdays as compared to weekends. This can be used to provide insights on when to fuel the vehicles so as to incur the least interruption of operations.")


                      

#scatter plot for the distance vs speed
scatter_dist1 = px.scatter(df, x='distance', y='avg_speed_kph', size='trip_time_hours',
  color='vehicle_size', hover_data=['make'], range_y=[0, 120])
scatter_dist2 = px.scatter(df, x='distance', y='avg_speed_kph', size='trip_time_hours',
  color='model', hover_data=['make'], range_y=[0, 120])


scat_col1, scat_col2 = st.columns(2)
with scat_col1:
  st.plotly_chart(scatter_dist1, use_container_width = True)
  st.write("Indicates which vehicle size and their respective average speed in Kph and distance covered.")
  st.write("It can be used to indicate which vehicle size is most commonly used for which length of journey.")
with scat_col2:
  st.plotly_chart(scatter_dist2, use_container_width = True)
  st.write("Indicates which vehicle model and their respective average speed in Kph and distance covered.")
  st.write("It can be used to indicate which vehicle model is most commonly used for which length of journey and its corresponding average speed.")
## plotting the linechart for all the days of the week and the trips made


map_fig = px.scatter_mapbox(df, lat="destination.latitude", lon="destination.longitude", zoom=3)

map_fig.update_layout(mapbox_style="open-street-map")
map_fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
st.plotly_chart(map_fig)

##TASKS REMAINING 
##need to do some visualizations for the assets dataset individually
##need to figure out how to find out certain things
##need to do some predictions for the data here
##Adriana to update the markdowns on the streamlit app 
##collectively create slides for our work by Friday

##the number of trips per make
make_trips = df.groupby('make').size().reset_index(name = 'trip')
don_figure = px.pie(make_trips, values = 'trip',names = 'make', hole = 0.5)
don_figure.update_layout(title = "Number of Trips by Car Make")

colored_header(
  label="Analysis of the number of trips per make of vehicle",
  description="An insight on how the make of a vehicle is of significance to the Yatsa team.",
  color_name="violet-70"
)

## Insert dynamic data of the most popular car make

st.write("The make of a vehicle is important as it provides insight on details such as maintenance of assets.")
st.write("This insight is pertinent when it comes to servicing of vehicles as vehicles that make more trips are more susceptible to increased rate of wear and tear.")
st.write("Mechanics who specialise in dealing with the particular vehicle make may need to be hired or placed on call to ensure that said vehicles are of roadworthy conditions at all times.")


colored_header(
  label="Analysis of the scatter map plot indicating most frequently visited destinations",
  description="An insight on how the scatter map plot indicating most popular destinations is of significance.",
  color_name="violet-70"
)

st.write("The scatter map plot indicates the most commonly visited destinations made by vehicles")
st.write("This can be utilised in ensuring that the vehicles are actually reaching their destinations.")
st.write("This provides insights as to the most popular destinations and on how to effectively distribute their resources e.g. man-power and recovery services in case of a vehicle break down.")

##a pie chart to show the average time taken by each make of the vehicle

make_times = df.groupby('make')['trip_time_hours'].mean().reset_index()
pie_chart = px.pie(make_times, values = 'trip_time_hours', names= 'make', hole = 0.5)
pie_chart.update_layout(title = ' Average Time Taken by Trips for each MAKE')


don_chart1, don_chart2 = st.columns(2)

with don_chart1:
  st.plotly_chart(don_figure, use_container_width = True)
with don_chart2:
  st.plotly_chart(pie_chart, use_container_width = True)


##trying to navigate how to know the makes and the models that have a high speeding rate 
make_stats = df.groupby('make').agg({'model': lambda x: len(x), 'avg_speed_kph': ['max', 'mean']}).reset_index()
make_stats.columns = ['make', 'total_trips', 'max_speed', 'avg_speed']
make_stats = make_stats.sort_values('max_speed', ascending=False)
highest_avg_speed = make_stats.sort_values('max_speed', ascending=False).iloc[0]
st.subheader('Make and Model with Highest Average Speed')

trip_stats, highest_make_stats = st.columns(2)
with trip_stats:
  st.write(make_stats)
with highest_make_stats:
  st.write(f'Make: {highest_avg_speed["make"]}')
  model = df.loc[df['make'] == highest_avg_speed['make'], 'model'].mode()[0]
  st.write(f'Model: {model}')
  st.write(f'Highest Average Speed: {highest_avg_speed["avg_speed"]:.2f} kph')
  st.write(f'Highest Speed for {highest_avg_speed["make"]}: {highest_avg_speed["max_speed"]:.2f} kph')

colored_header(
  label="Analysis of data based on make and model with the highest average speed",
  description="An insight on how the make and model are or importance to the Yatsa data analysis team.",
  color_name="violet-70"
)

st.write("This information is pertinent when determining which vehicle would be best to be deployed based on parameters such as delivery time and perishability of goods being delivered.")
st.write("For example, if the trip is for the transportation of goods that are perishable in nature such as flowers, a vehicle driven at higher speeds is more suitable to prevent loss of goods.")
st.write("The average speed is also used to determine which vehicles are often driven at speeds exeeding the legal limit. This would indicate that the driver is in need of more training or may have their performance metrics impacted negatively.")


##to find out the cars that commonly go to these particular destinations
st.subheader("Trips per destination")
destination_trips = df.groupby('destination.address').agg({'origin.address': 'count'}).reset_index(drop=True).sort_values(by='origin.address', ascending=False)
destination_trips = destination_trips.rename(columns={'origin.address': 'total_trips'})
st.write(destination_trips)

colored_header(
  label="Analysis of data based on Trips per destination",
  description="An insight on how the trips per destination is of value to the Yatsa data analysis team",
  color_name="violet-70"
)

## Find a way to pass in data dynamically. Otherwise give a general description.



st.write("This indicates that is the most popular destination made by the vehicles")
st.write("This may indicate that more assets should be assigned and distributed to the more popular routes to ensure optimal distribution of assets.")
st.write("This would prevent unnecessary or excess assets from being distributed to less popular areas.")

Overwriting app.py

In [44]:
knn_df.to_csv('app.csv', index = False)

In [40]:
!npm install localtunnel

npm WARN saveError ENOENT: no such file or directory, open '/content/package.json'
npm WARN enoent ENOENT: no such file or directory, open '/content/package.json'
npm WARN content No description
npm WARN content No repository field.
npm WARN content No README data
npm WARN content No license field.

+ localtunnel@2.0.2
updated 1 package and audited 36 packages in 0.789s

3 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities

In [45]:

!streamlit run /content/app.py &>/content/logs.txt &

In [46]:
!npx localtunnel --port 8501

npx: installed 22 in 4.96s
your url is: https://cold-sites-slide-35-245-18-168.loca.lt
^C